<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>    
    <cssPickerStyles>
      <stringlistmap type="SmartSitecore.CssPickerField.Models.CssPickerSettings, SmartSitecore.CssPickerField">
        <paths hint="list">
          <!-- List of css files to provide classes for the auto-complete picker. Change this section with your own files, or replace with Sitecore configuration patch -->
          <path>~/styles/bootstrap.min.css</path>
          <path>~/styles/dayfrost.css</path>
        </paths>
        <cacheSize>1048576</cacheSize>
      </stringlistmap>
    </cssPickerStyles>
  </sitecore>
</configuration>