<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.CssPicker" description="Css Picker" patch:before="*[1]">
          <targetDataStore physicalRootPath="$(sourceFolderCssPicker)\Foundation\CssPickerField\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.CssPicker.Field" database="core" path="/sitecore/system/Field types/Styles" />
            <include name="Foundation.CssPicker.Templates" database="master" path="/sitecore/templates/Foundation/CssPicker"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>